<header>
    <hgroup>
        <h1>$(survey.name)</h1>
        <h2>Survey Attempt
            <code style="color:var(--primary)">$(uid)</code>
            has been recorded
        </h2>
    </hgroup>
</header>

<main>
    <h2 style="color: var(--primary)"><em>Thank you</em> for taking part in the survey!</h2>
    <h5>We hope to see you next year 🙂</h5>
    <p>You can view your results as
    <% map(resultlinks) do (fmt, url) %>
        <a href="$(url)">$(fmt)</a>
    <% end |> l -> join(l, ", ", ", or ") %>
    .</p>
    <br /> <hr />
    <h4>Financially supporting the Emacs community</h4>
    <p>If you are able to, financially supporting the Emacs community dignifies
    the work they do and helps people find and justify the time they spend
    improving the state of Emacs' ecosystem.</p>
    <p>Should this sound like something you would be interested in, here
    is a small (randomly ordered) selection of donation links that may be of
    interest.</p>
    <ul>
        $(join(donateitems, '\n'))
    </ul>
    <br />
    <a href="/" role="button">Go Home</a>
</main>
